:root {
    --button-hue-start: #66ff66;
    --button-hue-end: #009900;

    --button-gloss: rgba(255, 255, 255, 0.4);

    --body-hue-start: #00b4db;
    --body-hue-end: #0083b0;

    --hf-hue: rgba(255, 255, 255, 0.687);

    --text-hue: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, var(--body-hue-start), var(--body-hue-end)); /* Blue gradient background */
    background-attachment: fixed;
    color: var(--text-hue);
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: var(--hf-hue);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: left; /* Center the images */
    gap: 10px; /* Adjust spacing between images */
}

header img {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 300px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    max-height: 64px;
    margin: 0 3px; /* Adjust spacing between images */
}

.header-content {
    display: flex;
}

footer {
    background: var(--hf-hue);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    color: black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1, footer p {
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

main {
    padding: 20px;
    text-align: center;
}

br {
    display: block;
    margin-bottom: 1em; /* ajusta el espaciado */
}

.content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (16/9 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

td button {
    height: 450px;
}

td button div {
    height:100%;
}

.index button {
    width: 80%;
}

/* Glossy buttons */
.glossy-button {
    background: linear-gradient(to bottom, var(--button-hue-start), var(--button-hue-end)); /* Gradient using custom properties */
    border: 0px solid #000000;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), inset 0 -4px 10px rgba(0, 0, 0, 0.3), inset 0 4px 10px rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    margin: 10px;
    padding: 15px 30px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
    position: relative;
}

.glossy-button:before {
    content: '';
    position: absolute;
    top: 30%; /* Adjust this value to move the highlight down */
    left: 5%;
    width: 90%;
    height: 40%;
    background: var(--button-gloss);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 8px var(--button-gloss);
    transform: translateY(-50%);
}

.glossy-button:hover {
    transform: scale(1.05);
}

.glossy-button:active {
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.scrollable-buttons {
    display: flex;
    overflow-x: unset;
    white-space: nowrap; /* Prevent line breaks */
    justify-content: center; /* Center the buttons */
}

.no-gloss {
    --button-gloss: rgba(255, 255, 255, 0);
}

/* Hue Subclasses */
.hue-green {
    --button-hue-start: #66ff66;
    --button-hue-end: #009900;
}

.hue-blue {
    --button-hue-start: #66ccff;
    --button-hue-end: #0066cc;
}

.hue-red {
    --button-hue-start: #ff6666;
    --button-hue-end: #cc0000;
}

.hue-orange {
    --button-hue-start: #FABD00;
    --button-hue-end: #b88a00;
}

.hue-purple {
    --button-hue-start: #cc00ff;
    --button-hue-end: #8d00b0;
}

.hue-spain-body {
    --body-hue-start: #FABD00;
    --body-hue-end: #b88a00;
    --text-hue: black;
}

.hue-spain-hf {
    --hf-hue: rgb(170, 21, 26);
}

.hue-green-body {
    --body-hue-start: #00FF00;
    --body-hue-end: #00a100;
}

.hue-green-hf {
    --hf-hue: #00FF00;
}

.hue-red-body {
    --body-hue-start: #c22121;
    --body-hue-end: #a10000;
}

.hue-red-hf {
    --hf-hue: #c22121;
}

.hue-blue-body {
    --body-hue-start: #4444ff;
    --body-hue-end: #2525a3;
}

.hue-blue-hf {
    --hf-hue: #4444ff;
}

.hue-purple-body {
    --body-hue-start: #800080;
    --body-hue-end: #4b004b;
}

.hue-purple-hf {
    --hf-hue: #800080;
}

.hue-orange-body {
    --body-hue-start: #FFA500;
    --body-hue-end: #cc8400;
}

.hue-orange-hf {
    --hf-hue: #FFA500;
}

.hue-pink-body {
    --body-hue-start: #FF69B4;
    --body-hue-end: #c05090;
}

.hue-pink-hf {
    --hf-hue: #FF69B4;
}

.hue-yellow-body {
    --body-hue-start: #FFFF00;
    --body-hue-end: #a1a100;
}

.hue-yellow-hf {
    --hf-hue: #FFFF00;
}

.hue-cyan-body {
    --body-hue-start: #00FFFF;
    --body-hue-end: #00a1a1;
}

.hue-cyan-hf {
    --hf-hue: #00FFFF;
}

/* This is for when you're already on the page from the button */
.on-page {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8); /* Slightly darker shadow */
    transform: scale(1.02);
    color: yellow
}

/* Media Query for Mobile Devices */
@media (max-width: 850px) {
    .header-content {
        flex-direction: column; /* Stack items vertically */
    }

    header {
        justify-content: center;
    }

    header img {
        max-height: 40px;
    }

    .logo-title {
        max-width: 100vw;
    }

    .glossy-button {
        font-size: 1em; /* Reduce font size */
        padding: 10px 20px; /* Reduce padding */
    }
}